main {
  font-family: Helvetica, Arial, sans-serif;
}
.height {
  min-height: 100vh;
}
.height-30 {
  min-height: 30vh;
}
.height-50 {
  min-height: 50vh;
}
textarea {
  outline: none;
  resize: none;
  box-shadow: inset 0 0 1px 1px rgba(50, 50, 168, 0.2);
  color: rgba(27, 27, 94, 0.6) !important;
}
.overflow {
  overflow: scroll;
}
